.cartItem {
    /*border-bottom: 1px solid black;*/
}

.cartItem:not(:last-child) {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    padding: 5px;
}

.cartItem:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: auto;
}

.cartItemsBox {
    margin-bottom: 20px;
}

.cartItemsBox > div:nth-child(2n) {
    background-color: lightgrey;
}

.cartItemsBox {
    border-bottom: 2px solid #000;
}

.itemQuantity {
    margin-left: 10px;
}
